head
  title Cognito+Auth0+LinkedIm
  script.
     const AWS_REGION = '#{AWS_REGION}';
     const COGNITO_IDENTITY_POOL_ID = '#{COGNITO_IDENTITY_POOL_ID}';
     const COGNITO_USER_POOL_ID = '#{COGNITO_USER_POOL_ID}';
  script(src='https://sdk.amazonaws.com/js/aws-sdk-2.669.0.min.js')
